.column {
  float: left;
  width: 33.33%;
}

.row: after {
  content: "";
  display: table;
  clear: both;
}

.cancelimg  {
  float: right;
  width: 16px;
  height: 16px;
}

.flex {
  padding-top: 10px;
  display: flex;
}

#addButton  {
  padding-left: 3px;
  width: 36px;
  height: 36px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
