/* Body will determine the look of the page */
body {
  	font-family: "Segoe UI";
    background: #ececec;
}

/* Change the title on our page */
.header {
    color: #0d0d0d;
    text-shadow: 1.1px 1.1px yellow;
    text-align: center;
}

/* Change the look of the navbar*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Creates a yellow horizontal line under the navbar */
.hr1 {
  background-color: yellow;
  margin-top: 0.5px;
  margin-bottom:0px;
  padding-bottom: 0px;
  padding-top: 1px;

}

/* Creates a darkgrey horizontal line under the navbar */
.hr2 {
  background-color: darkgrey;
  margin-top: 0px;
  margin-bottom:0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

/* Creates a black horizontal line under the navbar */
.hr3 {
  background-color: black;
  margin-top: 0px;
  margin-bottom:0px;
  padding-bottom: 4px;
  padding-top: 0px;
}

/* Formats the button */
.addItem {
  text-align: center;
}

#sortable1, #sortable2, #sortable3 {
    border: 1px solid #eee;

/* Formats the drag and drop columns */
#sortable1, #sortable2 {
    border: 1px solid black;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}

/* Formats the drag and drop boxes */
#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;

    background-color: white;
}


li a:hover {
  background-color: #111;
}

/* This is a test trash can i was working on FYI. */
/* .square {
height: 50px;
width: 50px;
background-color: red
} */
